@charset "utf-8";
html,body {
    width:100%;
    height: 100%;
}
body {
    font:16px/1.4 "Nanum Gothic",sans-serif;
    color:#333;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-weight: 800;
}
ul {list-style:none;}

a,a:link{
    text-decoration:none;
    color:inherit;
}

.notext {
    display: none;
}

* {box-sizing:border-box}

/* .vl {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
} */

/* hr {
  width: 2000px;
} */

/*-------------header---------------*/


header {
    margin-top:0 auto;
    width: 100%;
    /* height: 50px; */
    z-index: 9999; 
    position: fixed; 
    background-color: white;
}

.logo {
    max-width: 100%; 
    /* z-index: 9998;  */
    /* position: fixed;  */
}

.navbar {
    text-align: center;
    /* font-size: 0; */
    margin-left: 850px;
    margin-top: -70px;
    overflow: hidden;
    /* margin-left: 800px; */
    
    background-color: white;
    
}

.navbar li {
    /* display: inline; */
    line-height: 71px;
    font-size: 1.266rem;
    text-transform: capitalize;
    font-weight: 400;
    float: right;
    
}

.navbar li a {
    display: block;
    /* color: white; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.main_menu ul {
    display: none;
}

/*-------------section---------------*/

section {
    margin: 0 auto;
}

/* Slideshow container */

.slide{
  margin-left:-50px ;
    width: 1940px;
    height:100%;
    overflow:hidden;
}
.slide ul{
  width: 1940px;
    height:100%;
}
.slide li{
  width: 1940px;
    height:100%;
}
/* .slide li:nth-child(1){background:#faa;}
.slide li:nth-child(2){background:#afa;}
.slide li:nth-child(3){background:#aaf;}
.slide li:nth-child(4){background:#faf;} */


  
  /*--------product---------*/

  .container {
    /* position: absolute; */
    /* margin-top: 900px; */
    margin: 0 auto;
    display: inline;
  }

  .grid_left {
    float: left;
    margin-left: 100px;
  }

  .grid_right {
    margin-left: 100px;
    line-height: 5px;
  }

  .grid_right img {
    margin: 0 120px;
    text-align: center;
  }

  .product_box > li > img {
    text-align: center;
    float: left;
    display: inline;
    margin-left: 50px;
    position: relative;
  }

  .category {
    /* display: none; */
    display: inline-block;
    position: absolute;
    padding: 200px 0px;
    height: 20px;
    margin-left: -280px;
  }


  /*--------news---------*/

  .news {
    margin-top: 300px;
    width: 100%;
  }

  .grid_left {
    float: left;
  }

  .grid_right {
    /* float: left; */
  }

  
 .news_s1 {
   position: relative;
   float: left;
   display: inline-block;
 }
 
 .news_list1 {
   margin-left: -50px;
 }
 
 .news_list2 {
  margin-top: -430px;
  margin-left: 730px;
 }

 .news_list3 {
  margin-top: -210px;
  margin-left: 730px;
 }

 .newsroom_list  {
  float: left;
  /* display: inline; */
  /* position: absolute; */
  text-align: center;
  margin-top: 300px;
 }

 .newsroom_1 {
  margin-top: -288px;
  margin-left: 200px;
  position: absolute;
}

 .newsroom_2 {
  margin-top: -288px;
  margin-left: 500px;
  position: absolute;
 }

 .newsroom_3 {
  margin-top: -288px;
  margin-left: 800px;
  position: absolute;
 }

 .news_banner {
   /* float: left; */
   position: relative;
   /* margin-top: 900px; */
   padding-top: 780px;
 }

 .banner_1 {
  /* margin-top: 0; */
  margin-left: 200px;
  position: absolute;
 }

 .banner_2 {
  margin-left: 680px;
  position: absolute;
 }
 
 .inside {
   margin-top: 500px;
 }

 .banner1 {
  float: left;
  position: relative;
  margin-left: 200px;
  font-weight: 800;
}

.banner2 {
  font-weight: 800;
  float: left;
  position: relative;
  margin-top: 500px;
  margin-left: -200px;
}

.banner3 {
  position: relative;
  font-weight: 800;
}

.footer {
  width: 100%;
  /* text-align: center; */
  font-weight: 800;
  float: left;
}

.footer_top{
  position: relative;
  margin-top: 500px;
  /* text-align: center; */
  font-weight: 800;
  margin-left: 200px;
}

.footer_top p:hover {
  color: black;
}

.footer_bottom {
  /* text-align: center; */
  display: inline;
  margin-left: 200px;
}

.foot_menu li {
  float: left;
  width: 16%;
  margin-left: 200px;
  line-height: 20px;
}

.foot_menu li a:hover {
  font-weight: bolder;
  color: black;
}

.foot_copy {
  position: absolute;
  margin-top: 100px;
  float: left;
  margin-left: 200px;

}